---
---

@import 'constants';

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: $COLOR-BACKGROUND;
  color: $COLOR-TEXT;
  font: normal $SIZE-TEXT $FONT-TEXT;

  @include media-query(MOBILE) {
    font: normal $SIZE-TEXT-MOBILE $FONT-TEXT;
  }
}

strong { font-weight: bold; }
em { font-style: italic; }
s { text-decoration: line-through; }

a {
  color: $COLOR-LINK;
  cursor: pointer;
  text-decoration: none;
  transition: color $TRANSITION-PERIOD linear;

  &:visited {
    color: $COLOR-LINK;
  }

  &:hover {
    color: $COLOR-LINK-HOVER;
  }
}

::-moz-selection {
  background-color: $COLOR-TEXT;
  color: $COLOR-BACKGROUND;
}

::selection {
  background-color: $COLOR-TEXT;
  color: $COLOR-BACKGROUND;
}

.agcu-g, .agcu-c, .agcu-u, .agcu-a, .agcu-gcua {
  color: rgba(255,255,255,0);
}

.home-wrapper {
  position: relative;

  .home-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;

    @include media-query(MOBILE) {
      padding-top: 100px;
      display: none;
    }
  }

  canvas {
    z-index: -10;
  }

  .home-buttons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0);
    overflow: hidden;
    box-sizing: border-box;

    @include media-query(MOBILE) {
      top: 100px;
      height: calc(100% - 100px);
    }

    .home-button {
      position: absolute;
      cursor: pointer;
      transition: background-color $TRANSITION-PERIOD linear;
    }
  }

  .home-foreground {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    padding: 8% 0;
    padding-left: 10%;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0);

    @include media-query(MOBILE) {
      flex-direction: row;
      padding: 40px 8%;
    }
  }

  .home-subtitle {
    font-weight: bold;
    font-size: 13px;
    z-index: 10;

    @include media-query(MOBILE) {
      width: 66%;
      font-size: 12px;
    }
  }

  .home-ball-menu {
    position: relative;
    width: 4.0 * $ANIMATION-BALL-SIZE;
    height: 1.4 * $ANIMATION-BALL-SIZE;
    margin-top: -2.3 * $ANIMATION-BALL-SIZE;
    margin-left: calc((100% - 610px - #{4.0 * $ANIMATION-BALL-SIZE}) / 2) ;
    cursor: pointer;
    box-sizing: border-box;

    @include media-query(MOBILE) {
      position: absolute;
      margin: 0;
      top: calc(50vh - 7px);
      left: calc(50vw - 20px);
      box-sizing: border-box;
    }

    .home-ball {
      position: absolute;
      left: 3.5 * $ANIMATION-BALL-SIZE;
      width: $ANIMATION-BALL-SIZE;
      height: $ANIMATION-BALL-SIZE;
      border-radius: 50%;
      background-color: $COLOR-ACCENT;
      animation: home-ball-frames $ANIMATION-BALL-PERIOD linear 0s infinite normal;
    }

    @keyframes home-ball-frames {
      0%   {left:3.5 * $ANIMATION-BALL-SIZE; width:1.0 * $ANIMATION-BALL-SIZE; height:1.0 * $ANIMATION-BALL-SIZE;}
      8%   {left:3.2 * $ANIMATION-BALL-SIZE; width:0.9 * $ANIMATION-BALL-SIZE; height:0.9 * $ANIMATION-BALL-SIZE;}
      25%  {left:1.7 * $ANIMATION-BALL-SIZE; width:0.8 * $ANIMATION-BALL-SIZE; height:0.8 * $ANIMATION-BALL-SIZE;}
      42%  {left:0.3 * $ANIMATION-BALL-SIZE; width:0.9 * $ANIMATION-BALL-SIZE; height:0.9 * $ANIMATION-BALL-SIZE;}
      50%  {left:0.0 * $ANIMATION-BALL-SIZE; width:1.0 * $ANIMATION-BALL-SIZE; height:1.0 * $ANIMATION-BALL-SIZE;}
      58%  {left:0.3 * $ANIMATION-BALL-SIZE; width:1.1 * $ANIMATION-BALL-SIZE; height:1.1 * $ANIMATION-BALL-SIZE;}
      75%  {left:1.7 * $ANIMATION-BALL-SIZE; width:1.2 * $ANIMATION-BALL-SIZE; height:1.2 * $ANIMATION-BALL-SIZE;}
      92%  {left:3.2 * $ANIMATION-BALL-SIZE; width:1.1 * $ANIMATION-BALL-SIZE; height:1.1 * $ANIMATION-BALL-SIZE;}
      100% {left:3.5 * $ANIMATION-BALL-SIZE; width:1.0 * $ANIMATION-BALL-SIZE; height:1.0 * $ANIMATION-BALL-SIZE;}
    }

    #home-ball-1 {
      left: 0px;
      animation-delay: -0.5 * $ANIMATION-BALL-PERIOD;
    }
  }

  .home-language-menu {
    z-index: 10;

    @include media-query(MOBILE) {
      width: 33%;
      text-align: right;
    }

    a {
      font-size: 13px;
    }

    .home-contact {
      display: inline-block;
      font-size: 13px;
      margin-left: 20px;
      text-transform: uppercase;
      cursor: pointer;
    }

    .home-contact-image {
      display: inline-block;
      margin-left: 20px;
      margin-bottom: -3px;
    }
  }

  .home-contact-image {
    width: 100px;
    height: 15px;
    background-image: url({{ site.baseurl }}/media/images/contact.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  .home-contact-text {
    display: inline-block;
    margin: 0 0 0 20px;
    font-size: 13px;
    font-weight: bold;

    @include media-query(MOBILE) {
      margin: 0;
      display: block;
    }
  }

  .home-lightbox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 30%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity $TRANSITION-PERIOD linear;
    pointer-events: none;
    opacity: 0;
    z-index: 20;

    @include media-query(MOBILE) {
      padding: 30px 5% 0;
    }

    &.show {
      pointer-events: inherit;
      opacity: 1;
    }

    .home-lightbox-container {
      background-color: #fff;
      border: 1px solid $COLOR-ACCENT;

      .home-lightbox-title {
        width: 100%;
        padding: 16px 20px;
        box-sizing: border-box;
        border-bottom: 1px #aaa solid;
        font-size: 15px;
        text-transform: uppercase;
      }

      .home-lightbox-content {
        padding: 16px 20px;
        line-height: 1.7;
        font-size: 14px;

        @include media-query(MOBILE) {
          font-size: 12px;
        }

        a {
          text-decoration: underline;
        }

        .home-lightbox-link {
          padding: 0 4px 2px;
          background-color: $COLOR-ACCENT;
          color: $COLOR-BACKGROUND;
          font-weight: bold;
          text-decoration: none;
        }
      }
    }
  }

  .home-intro-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    padding: 8% 8% 6% 10%;
    display: none;

    &.show {
      display: inherit;
      opacity: 1;
    }

    .home-intro-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 40%;
      box-sizing: border-box;

      @include media-query(MOBILE) {
        width: 100%;
      }
    }

    .home-intro-text-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      background-color: #efefef;
      color: $COLOR-ACCENT;
      box-sizing: border-box;
      font-size: 14px;
      padding: 0;
      line-height: 1.33em;

      @include media-query(MOBILE) {
        font-size: 12px;
      }
    }

    .home-intro-text-container + .home-intro-text-container {
      margin-left: 20px;
    }

    .home-intro-close-container {
      width: 100%;
      padding: 0;
      padding-top: .75em;
      padding-right: .75em;
      margin: 0;
      box-sizing: border-box;
      text-align: right;

      .home-intro-close {
        display: inline;
        margin: 0;
        box-sizing: border-box;
        cursor: pointer;
        pointer-events: all;
        color: $COLOR-TEXT;
        font-weight: bold;

        &::before {
          content: 'X';
        }
      }
    }

    .home-intro-text {
      padding: 0em 1.5em 1.3em;
    }
  }
}

.embody-wrapper {
  padding: 0 12%;
  margin: 0 auto;
  box-sizing: border-box;

  .artists-container {
    .artist-name {
      display: inline;
    }

    .artist-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 50px 0 75px;

      --image-width: 40%;

      @include media-query(MOBILE) {
        flex-direction: column;
        padding: 30px 0 50px;
        --image-width: 100%;
      }

      .artist-image {
        width: var(--image-width);
        padding-bottom: calc(0.4 * 62.5%);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        cursor: pointer;

        @include media-query(MOBILE) {
          padding-bottom: calc(1.0 * 62.5%);
        }
      }

      .artist-bio-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: calc(1.2 * var(--image-width));
        font-size: 13px;
        line-height: 1.5;

        @include media-query(MOBILE) {
          width: calc(1.0 * var(--image-width));
          padding-top: 12px;
        }

        .artist-link {
          margin-top: 20px;
        }
      }
    }
  }
}

.frame-wrapper, .flood-wrapper, .flux-wrapper {
  padding: 0 12%;
  margin: 0 auto;
  box-sizing: border-box;

  @include media-query(MOBILE) {
    padding: 0 5%;
  }

  .art-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding-bottom: 20px;

    .artist-name {
      font-size: 13px;
      margin-left: 13px;
    }
  }

  .art {
    padding-bottom: 64px;
  }

  .frame-showcase-container {
    .frame-showcase {
      width: 100%;
      padding: 0 64px;
      box-sizing: border-box;

      @include media-query(MOBILE) {
        padding: 0;
      }
    }

    .showcase-subtitle {
      width: 100%;
      font-size: 12px;
      padding: 12px 0 0;

      @include media-query(MOBILE) {
        font-size: 11px;
      }
    }
  }

  .art-description {
    padding: 12px 64px 0;
    font-size: 13px;
    line-height: 1.5;

    @include media-query(MOBILE) {
      padding: 12px 0 0;
    }

    .art-link-container {
      margin: 0 0 12px;
    }
  }

  .curators-note-container {
    width: 100%;
    padding: 32px 64px 0;
    font-size: 13px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;

    @include media-query(MOBILE) {
      margin-top: 16px;
      padding: 0;
      flex-direction: column;
    }

    .curators-note-title {
      text-transform: uppercase;
      margin-left: 32px;

      @include media-query(MOBILE) {
        margin-top: 8px;
        margin-left: 0;
      }
    }

    .curators-note-image {
      width: 55%;
      padding-bottom: calc(.55 * 56.25%);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      cursor: pointer;
    }
  }

  .curator-quote-container {
    position: relative;
    padding: 0 64px;
    box-sizing: border-box;

    @include media-query(MOBILE) {
      padding: 0;
    }

    .curator-quote-image {
      width: 100%;
      padding-bottom: calc(1 * 13.95%);
      background-image: url({{ site.baseurl }}/media/images/frame/mari-nagem/yuval-quote.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      box-sizing: border-box;
    }

    .curator-quote-credit {
      position: absolute;
      bottom: 0;
      left: 0;
      padding-left: 50%;
      font-size: 12px;
      color: #000;
      text-decoration: underline;

      @include media-query(MOBILE) {
        font-size: 11px;
      }
    }
  }
}

.luccas-morais-showcase {
  .showcase-image-container {
    display: flex;
    flex-direction: row;
  }

  .showcase-image {
    width: 33%;
    padding-bottom: 33%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.fernando-tome-showcase {
  .showcase-image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .showcase-image {
    width: 30%;
    padding-bottom: calc(.30 * 153.75%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #000;
    cursor: pointer;
  }
}

.eduardo-padilha-showcase {
  .showcase-main-image {
    padding-bottom: 55%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .showcase-image-container {
    display: flex;
    flex-direction: row;
    padding-top: 12px;

    .showcase-image {
      width: 20%;
      padding-bottom: calc(.20 * 65%);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      cursor: pointer;
    }

    .showcase-image + .showcase-image {
      margin-left: 12px;
    }
  }
}

.artur-ched-showcase {
  .showcase-main-image-container {
    display: flex;
    flex-direction: row;

    .swipebox {
      width: 50%;
    }
  }

  .showcase-main-image {
    width: 100%;
    padding-bottom: 71%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .showcase-image-container {
    display: flex;
    flex-direction: row;
    padding-top: 12px;

    .showcase-image {
      width: 16.66%;
      padding-bottom: calc(.1666 * 71%);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      cursor: pointer;
    }

    .showcase-image-text {
      width: 0;
    }
  }
}

.thiago-hersan-showcase {
  .video-container {
    width: 100%;
  }

  .showcase-video {
    width: 100%;
    &:focus {
      outline:0;
    }
  }
}

.mari-nagem-showcase {
  .video-container {
    margin-top: 19px;
    width: 100%;
  }

  .showcase-video {
    width: 100%;
    &:focus {
      outline:0;
    }
  }

  .showcase-image + .video-subtitle-container {
    padding-top: 4px;
  }

  .video-subtitle-container {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .video-subtitle {
    width: 50%;
    flex-grow: 1;
    font-size: 11px;
    text-align: left;
  }

  .video-subtitle-40 {
    width: 48%;
    flex-grow: 0;
  }

  .art-description {
    padding: 20px 0;
  }

  .showcase-image-title {
    font-size: 13px;
    padding-bottom: 2em;
  }

  .showcase-image + .showcase-image-title,
  .video-subtitle-container + .showcase-image-title {
    padding: 2em 0;
  }

  .showcase-image {
    width: 100%;
    padding-bottom: 56.25%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .showcase-image-1, .showcase-image-2 {
    padding-bottom: 30%;
  }
}

.flood-wrapper {
  .flood-showcase {
    .flood-image {
      cursor: pointer;
    }

    .showcase-main-image {
      padding-bottom: 61.7%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .showcase-image-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .showcase-image {
        width: 19%;
        margin: .5%;
        padding-bottom: calc(.19 * 61.7%);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        box-sizing: border-box;
      }
    }
  }
}

.flood-lightbox-overlay, .embody-lightbox-overlay, .frame-lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity $TRANSITION-PERIOD linear;
  pointer-events: none;
  opacity: 0;
  z-index: 20;

  &.show {
    pointer-events: inherit;
    opacity: 1;
  }

  .flood-lightbox-container, .embody-lightbox-container, .frame-lightbox-container {
    width: 92%;
    max-width: 1000px;
    box-sizing: border-box;
  }
  .frame-lightbox-container {
    max-width: 1200px;
  }

  .flood-lightbox-image, .embody-lightbox-image, .frame-lightbox-image {
    width: 100%;
    padding-bottom: 61.72%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
  }

  .embody-lightbox-image {
    background-size: contain;
  }

  .frame-lightbox-image {
    margin: 0 auto;
    padding-bottom: 56.25%;
    background-size: contain;
  }
}

.flux-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  padding: 0;

  .art-container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: $COLOR-TEXT;
    overflow: hidden;
    z-index: 1;
    box-sizing: border-box;

    .art {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      flex-grow: 1;
      box-sizing: border-box;

      @include media-query(MOBILE) {
        width: 90%;
      }
    }
  }

  .flux-background-text {
    position: absolute;
    bottom: -1.7em;
    padding: 12px 20px;
    color: $COLOR-BACKGROUND;
    z-index: -1;
    font-family: monospace;
    color: rgba(255,255,255,.8);
    word-break: break-all;
    box-sizing: border-box;
    font-size: 17px;
  }

  .art-description {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: baseline;

    @include media-query(MOBILE) {
      flex-direction: column;
    }
  }

  .flux-stats-container {
    width: 45%;
    align-self: center;

    @include media-query(MOBILE) {
      margin-left: .5em;
      width: 100%;
      box-sizing: border-box;
      align-self: flex-start;
    }

    .flux-stat-container + .flux-stat-container {
      margin-top: 20px;
    }

    .flux-stat-title {
      margin: 8px 0;
      .flux-stat-title-color {
        display: inline;
        padding: .3em 0;
        box-shadow: -.5em 0 0 $COLOR-ACCENT, .5em 0 0 $COLOR-ACCENT;
        background-color: $COLOR-ACCENT;
        color: $COLOR-BACKGROUND;
      }
    }

    .flux-stat-content {
      .flux-stat-content-color {
        display: inline;
        padding: .15em 0;
        box-shadow: -.5em 0 0 $COLOR-BACKGROUND, .5em 0 0 $COLOR-BACKGROUND;
        background-color: $COLOR-BACKGROUND;
        color: $COLOR-TEXT;
      }
    }
  }

  .flux-conclusion-container {
    width: 25%;
    padding: 12px;
    box-sizing: border-box;
    align-self: flex-end;
    background-color: $COLOR-ACCENT;
    color: $COLOR-BACKGROUND;

    @include media-query(MOBILE) {
      margin: 20px 0 0;
      width: 100%;
      box-sizing: border-box;
    }
  }

  .flux-supscript {
    vertical-align: super;
    font-size: 0.8em;
    a {
      color: $COLOR-BACKGROUND;
    }
  }
}

.home-link {
  width: 100%;
  padding: 40px 0;
  margin: 0;

  a {
    display: block;
    margin: 0 auto;
    width: 1.2 * $ANIMATION-BALL-SIZE;
    height: 1.2 * $ANIMATION-BALL-SIZE;
  }

  .home-link-ball {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $COLOR-ACCENT;
  }
}

.pink-style {
  width: auto;
  background-color: $COLOR-ACCENT;
  color: #fff;
  padding: 3px 6px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}

.swipebox-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .swipebox {
    margin: 24px 5px 0;
    width: 48%;

    @include media-query(MOBILE) {
      width: 45%;
    }

    img {
      width: 100%;
    }
  }
}

.video-wrapper-16x9 {
  padding-bottom: 56.25%;
}

.video-wrapper-12x7 {
  padding-bottom: 58.33%;
}

.video-wrapper-16x10 {
  padding-bottom: 62.3%;
}

.video-wrapper-4x3 {
  padding-bottom: 75%;
}

.video-wrapper {
  position: relative;
  margin: 0 auto;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.fof {
  font-size: 100px;
}
