---
---

@import 'constants';

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: $COLOR-BACKGROUND;

  font: normal $SIZE-TEXT-MOBILE $FONT-TEXT;
  color: $COLOR-TEXT;

  @include media-query(DESKTOP) {
    font: normal $SIZE-TEXT $FONT-TEXT;
  }
}

strong { font-weight: bold; }
em { font-style: italic; }
s { text-decoration:line-through; }

a {
  font: normal $SIZE-TEXT $FONT-TEXT;
  color: $COLOR-LINK;
  cursor: pointer;
  text-decoration: none;
  transition: color $TRANSITION-PERIOD linear;

  &:visited {
    color: $COLOR-LINK;
  }

  &:hover {
    color: $COLOR-LINK-HOVER;
  }
}

.home-wrapper {
  position: relative;

  .home-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  canvas {
    z-index: -10;
  }

  .home-buttons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: rgba(255,255,255,0);

    .home-button {
      position: absolute;
      background-color: $COLOR-ACCENT;
      color: #fff;
      padding: 6px 10px;
      border-radius: 2px;
      cursor: pointer;
    }
  }

  .home-foreground {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    padding: 0 16%;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0);
  }

  .home-subtitle {
    width: 33%;
  }

  .home-language-menu {
    width: 33%;
    margin-top: 20px;
  }
}

.swipebox-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .swipebox {
    margin: 24px 5px 0;
    width: 45%;

    @include media-query(DESKTOP) {
      width: 48%;
    }

    img {
      width: 100%;
    }
  }
}

.video-wrapper-16x9 {
  padding-bottom: 56.25%;
}

.video-wrapper-4x3 {
  padding-bottom: 75%;
}

.video-wrapper {
  position: relative;
  margin: 1rem auto;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.fof {
  font-size: 100px;
}
