---
---

@import 'constants';

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: $COLOR-BACKGROUND;
  color: $COLOR-TEXT;
  font: normal $SIZE-TEXT $FONT-TEXT;

  @include media-query(MOBILE) {
    font: normal $SIZE-TEXT-MOBILE $FONT-TEXT;
  }
}

strong { font-weight: bold; }
em { font-style: italic; }
s { text-decoration:line-through; }

a {
  font: normal $SIZE-TEXT $FONT-TEXT;
  color: $COLOR-LINK;
  cursor: pointer;
  text-decoration: none;
  transition: color $TRANSITION-PERIOD linear;

  &:visited {
    color: $COLOR-LINK;
  }

  &:hover {
    color: $COLOR-LINK-HOVER;
  }
}

.home-wrapper {
  position: relative;

  .home-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;

    @include media-query(MOBILE) {
      padding-top: 100px;
    }
  }

  canvas {
    z-index: -10;
  }

  .home-buttons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0);
    overflow: hidden;
    box-sizing: border-box;

    @include media-query(MOBILE) {
      top: 100px;
    }

    .home-button {
      position: absolute;
      background-color: $COLOR-ACCENT;
      color: #fff;
      padding: 3px 6px;
      cursor: pointer;
      transition: background-color $TRANSITION-PERIOD linear;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: bold;

      &:hover {
        background-color: $COLOR-ACCENT-HOVER;
      }
    }
  }

  .home-foreground {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    padding: 8% 0;
    padding-left: 10%;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0);

    @include media-query(MOBILE) {
      flex-direction: row;
      padding: 8% 8%;
    }
  }

  .home-subtitle {
    font-weight: bold;
    font-size: 13px;
  }

  .home-ball-menu {
    position: relative;
    width: 4.0 * $ANIMATION-BALL-SIZE;
    height: 1.4 * $ANIMATION-BALL-SIZE;
    cursor: pointer;
    margin-left: 25%;
    box-sizing: border-box;

    .home-ball {
      top: -1.1 * $ANIMATION-BALL-SIZE;
      position: absolute;
      left: 3.5 * $ANIMATION-BALL-SIZE;
      width: $ANIMATION-BALL-SIZE;
      height: $ANIMATION-BALL-SIZE;
      border-radius: 50%;
      background-color: $COLOR-ACCENT;
      animation: home-ball-frames 2.75s linear 0s infinite normal;
    }

    @keyframes home-ball-frames {
      0%   {left:3.5 * $ANIMATION-BALL-SIZE; width:1.0 * $ANIMATION-BALL-SIZE; height:1.0 * $ANIMATION-BALL-SIZE;}
      8%   {left:3.2 * $ANIMATION-BALL-SIZE; width:0.9 * $ANIMATION-BALL-SIZE; height:0.9 * $ANIMATION-BALL-SIZE;}
      25%  {left:1.7 * $ANIMATION-BALL-SIZE; width:0.8 * $ANIMATION-BALL-SIZE; height:0.8 * $ANIMATION-BALL-SIZE;}
      42%  {left:0.3 * $ANIMATION-BALL-SIZE; width:0.9 * $ANIMATION-BALL-SIZE; height:0.9 * $ANIMATION-BALL-SIZE;}
      50%  {left:0.0 * $ANIMATION-BALL-SIZE; width:1.0 * $ANIMATION-BALL-SIZE; height:1.0 * $ANIMATION-BALL-SIZE;}
      58%  {left:0.3 * $ANIMATION-BALL-SIZE; width:1.1 * $ANIMATION-BALL-SIZE; height:1.1 * $ANIMATION-BALL-SIZE;}
      75%  {left:1.7 * $ANIMATION-BALL-SIZE; width:1.2 * $ANIMATION-BALL-SIZE; height:1.2 * $ANIMATION-BALL-SIZE;}
      92%  {left:3.2 * $ANIMATION-BALL-SIZE; width:1.1 * $ANIMATION-BALL-SIZE; height:1.1 * $ANIMATION-BALL-SIZE;}
      100% {left:3.5 * $ANIMATION-BALL-SIZE; width:1.0 * $ANIMATION-BALL-SIZE; height:1.0 * $ANIMATION-BALL-SIZE;}
    }

    #home-ball-1 {
      left: 0px;
      animation-delay: -0.5 * $ANIMATION-BALL-PERIOD;
    }
  }

  .home-language-menu {
    z-index: 10;

    a {
      font-size: 13px;
    }
  }

  .home-lightbox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px 10% 0;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.3);
    transition: opacity $TRANSITION-PERIOD linear;
    pointer-events: none;
    opacity: 0;
    z-index: 20;

    @include media-query(MOBILE) {
      padding: 30px 5% 0;
    }

    &.show {
      pointer-events: inherit;
      opacity: 1;
    }

    .home-lightbox-container {
      background-color: #fff;
      border: 1px solid $COLOR-ACCENT;

      .home-lightbox-title {
        width: 100%;
        padding: 16px 20px;
        box-sizing: border-box;
        border-bottom: 1px #aaa solid;
        font-size: $SIZE-TEXT;
        text-transform: uppercase;
      }

      .home-lightbox-content {
        padding: 16px 20px;
        line-height: 1.7;
      }
    }
  }
}

.swipebox-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .swipebox {
    margin: 24px 5px 0;
    width: 48%;

    @include media-query(MOBILE) {
      width: 45%;
    }

    img {
      width: 100%;
    }
  }
}

.video-wrapper-16x9 {
  padding-bottom: 56.25%;
}

.video-wrapper-4x3 {
  padding-bottom: 75%;
}

.video-wrapper {
  position: relative;
  margin: 1rem auto;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.fof {
  font-size: 100px;
}
