@charset "UTF-8";
@import 'framework.css';

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #1E0E62;
  -webkit-font-smoothing: antialiased;
}
body.dev {
  background: #fff;
  min-height: 10000px;
}
body.dev .js-content-editable {
  outline: rgba(233, 58, 125, 0.7) dashed 2px !important;
  outline-offset: -2px;
}
body.dev .js-content-editable:hover {
  outline-color: #25DAC5 !important;
  outline-style: solid !important;
}
body.dev section.js-content-editable, body.dev header.js-content-editable, body.dev nav.js-content-editable, body.dev footer.js-content-editable {
  outline-width: 10px !important;
  outline-offset: -10px;
}

nav, header, section, footer {
  position: relative;
}

header, section {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

header nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: #fff;
}

nav {
  width: 100%;
}
nav.transparent {
  background: transparent;
}

a, button {
  cursor: pointer;
  transition: all 0.25s;
}
a:hover, button:hover {
  text-decoration: none;
}
a:active, a:focus, button:active, button:focus {
  text-decoration: none;
  outline: none;
}

button {
  border: none;
  outline: none !important;
}

input, textarea {
  border: 0;
  outline: none;
  background: transparent;
  color: #1E0E62;
  resize: none;
}

label {
  margin-bottom: 0;
  font-weight: 400;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin: 0;
  font-weight: 700;
  font-family: DM Sans, Helvetica, Arial, sans-serif;
}

h1, h2 {
  font-size: 58px;
  line-height: 70px;
}
h1.big, h2.big {
  font-size: 72px;
  line-height: 86px;
}
h1.small, h2.small {
  font-size: 42px;
  line-height: 52px;
  font-weight: 700;
}

h3 {
  font-size: 42px;
  line-height: 52px;
}

b, strong {
  font-weight: 700;
}

/* Change AOS plugin default settings */
[data-aos=fade-down] {
  transform: translate3d(0, -35px, 0);
}

[data-aos=fade-up] {
  transform: translate3d(0, 35px, 0);
}

/* Slick slider */
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -16px;
  padding: 0;
  border: none;
  outline: none;
  z-index: 1;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 0.5;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.3;
}
.slick-prev:before,
.slick-next:before {
  display: block;
  content: "";
  width: 32px;
  height: 32px;
  opacity: 1;
  transition: opacity 0.2s;
}

.slick-prev {
  left: 0;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: 0;
}
.slick-prev:before {
  background: url(../i/slick-arrow-left.svg) no-repeat 0 50%;
}
[dir=rtl] .slick-prev:before {
  background: url(../i/slick-arrow-right.svg) no-repeat 100% 50%;
}

.slick-next {
  right: 0;
}
[dir=rtl] .slick-next {
  left: 0;
  right: auto;
}
.slick-next:before {
  background: url(../i/slick-arrow-right.svg) no-repeat 100% 50%;
}
[dir=rtl] .slick-next:before {
  background: url(../i/slick-arrow-left.svg) no-repeat 0 50%;
}

/* Dots */
.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
  left: 0;
  right: 0;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  box-sizing: border-box;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background: transparent;
  display: block;
  height: 10px;
  width: 10px;
  padding: 0;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  opacity: 0.3;
  cursor: pointer;
}
.slick-dots li button:hover {
  outline: none;
  opacity: 0.8;
}
.slick-dots li.slick-active button {
  background: #ffffff;
  opacity: 1;
}
.slick-dots li.slick-active button:hover {
  opacity: 1;
}

.slick-slide {
  outline: none;
}

/* Slick slider Dark arrows */
.arrows-dark .slick-prev:before {
  background: url(../i/slick-arrow-left-dark.svg) no-repeat 0 50%;
}
[dir=rtl] .arrows-dark .slick-prev:before {
  background: url(../i/slick-arrow-right-dark.svg) no-repeat 100% 50%;
}
.arrows-dark .slick-next:before {
  background: url(../i/slick-arrow-right-dark.svg) no-repeat 100% 50%;
}
[dir=rtl] .arrows-dark .slick-next:before {
  background: url(../i/slick-arrow-left-dark.svg) no-repeat 0 50%;
}

.container {
  position: relative;
}

::-moz-selection {
  background: #E93A7D;
  color: #ffffff;
}

::-webkit-selection {
  background: #E93A7D;
  color: #ffffff;
}

::selection {
  background: #E93A7D;
  color: #ffffff;
}

/* 2. Common responsive styles */
/* Smaller than 1200px */
@media (max-width: 1199.98px) {
  header[class^=pt-], header[class*=" pt-"], section[class^=pt-], section[class*=" pt-"] {
    padding-top: 80px;
  }
  header[class^=pb-], header[class*=" pb-"], section[class^=pb-], section[class*=" pb-"] {
    padding-bottom: 80px;
  }

  h1 br, h2 br, h3 br, .text-adaptive br {
    display: none;
  }

  h1, h2 {
    font-size: 52px;
    line-height: 62px;
  }
  h1.big, h2.big {
    font-size: 62px;
    line-height: 72px;
  }
  h1.small, h2.small {
    font-size: 36px;
    line-height: 46px;
  }

  h3 {
    font-size: 36px;
    line-height: 46px;
  }
}
/* Smaller than 992px */
@media (max-width: 991.98px) {
  h1, h2 {
    font-size: 42px;
    line-height: 52px;
  }
  h1.big, h2.big {
    font-size: 52px;
    line-height: 62px;
  }
  h1.small, h2.small {
    font-size: 32px;
    line-height: 42px;
  }

  h3 {
    font-size: 32px;
    line-height: 42px;
  }

  .text-adaptive.f-24 {
    font-size: 22px;
    line-height: 32px;
  }
  .text-adaptive.f-22 {
    font-size: 20px;
    line-height: 30px;
  }
  .text-adaptive.f-20 {
    font-size: 18px;
    line-height: 28px;
  }

  .alert {
    top: 10px;
    left: 20px;
    right: 20px;
    transform: none;
    width: auto;
    padding-left: 40px;
  }
}
/* Smaller than 768px */
@media (max-width: 767.98px) {
  h1, h2 {
    font-size: 32px;
    line-height: 42px;
  }
  h1.big, h2.big {
    font-size: 42px;
    line-height: 52px;
  }
  h1.small, h2.small {
    font-size: 26px;
    line-height: 36px;
  }

  h3 {
    font-size: 26px;
    line-height: 36px;
  }

  .text-adaptive.f-24 {
    font-size: 20px;
    line-height: 30px;
  }
  .text-adaptive.f-22 {
    font-size: 18px;
    line-height: 28px;
  }
  .text-adaptive.f-20 {
    font-size: 16px;
    line-height: 26px;
  }
  .text-adaptive.f-18 {
    font-size: 16px;
    line-height: 26px;
  }

  .btn.lg {
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    font-size: 18px;
    font-weight: 500;
  }
  .btn.lg[class^=border-], .btn.lg[class*=" border-"] {
    line-height: 46px;
  }
  .btn.xl {
    height: 60px;
    line-height: 60px;
    padding: 0 35px;
    font-size: 18px;
    font-weight: 500;
  }
  .btn.xl[class^=border-], .btn.xl[class*=" border-"] {
    line-height: 56px;
  }

  .input.lg {
    height: 50px;
    font-size: 18px;
    font-weight: 500;
  }
}
/* Smaller than 576px */
@media (max-width: 575.98px) {
  h1, h2 {
    font-size: 26px;
    line-height: 36px;
  }
  h1.big, h2.big {
    font-size: 32px;
    line-height: 42px;
  }
  h1.small, h2.small {
    font-size: 22px;
    line-height: 32px;
  }

  .btn.xl {
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
  }
  .btn.xl[class^=border-], .btn.xl[class*=" border-"] {
    line-height: 46px;
  }
}


@media (max-width: 575.98px) {
  .embody[class^=pb-], .embody[class*=" pb-"] {
    padding-bottom: 40px;
  }
  .embody .img {
    max-height: 70vh;
  }
  .embody .title {
    margin-bottom: 10px;
  }
}
