<div class="frame-showcase luccas-morais-showcase">
  {% assign imgs = site.static_files |
                   where_exp:"file","file.path contains 'images/frame'" |
                   where_exp:"file","file.path contains 'luccas-morais_'" %}

  <div class="showcase-image-container">
    {% for i in imgs %}
      <div class="showcase-image" style="background-image: url({{ site.baseurl }}{{ i.path }})"></div>
    {% endfor %}
  </div>

  <div class="showcase-subtitle">{{ include.medium }}</div>
</div>
