<div class="frame-showcase mari-nagem-showcase">
  {% assign imgs = site.static_files |
                   where_exp:"file","file.path contains 'frame'" |
                   where_exp:"file","file.path contains 'mari-nagem_'" |
                   where_exp:"file","file.path contains 'jpg'" %}

  {% assign movs = site.static_files |
                   where_exp:"file","file.path contains 'frame'" |
                   where_exp:"file","file.path contains 'mari-nagem_'" |
                   where_exp:"file","file.path contains 'webm'" %}

  {% assign img-titles = site.data.frame.curators[0]['image-title'][PAGE_LANGUAGE] %}
  {% assign video-titles = site.data.frame.curators[0]['video-title'][PAGE_LANGUAGE] %}
  {% assign descriptions = site.data.frame.curators[0]['description'][PAGE_LANGUAGE] %}

  <div class="video-container">
    <video class="showcase-video" playsinline autoplay muted loop>
      <source src="{{ site.baseurl }}/{{ movs[0].path }}" type="video/webm">
    </video>
    <div class="video-subtitle-container">
      <div class="video-subtitle video-subtitle-40">{{ video-titles[0] }}</div>
      <div class="video-subtitle">{{ video-titles[1] }}</div>
    </div>
  </div>

  <div class="art-description">{{ descriptions[1] }}</div>

    {% for i in imgs %}
      <div class="showcase-image-title">{{ img-titles[forloop.index0] }}</div>
      <div class="showcase-image showcase-image-{{ forloop.index0 }}" style="background-image: url({{ site.baseurl }}/{{ i.path }})"></div>
      {% if forloop.index0 == 0 %}
      <div class="video-subtitle-container">
        <div class="video-subtitle"></div>
        <div class="video-subtitle">{{ video-titles[2] }}</div>
      </div>
      {% endif %}
      {% if forloop.last %}
        <div class="showcase-subtitle">{{ include.medium }}</div>
      {% endif %}
    {% endfor %}

  <div class="art-description">{{ descriptions[2] }}</div>
</div>
