$FONT-TEXT: 'Roboto', sans-serif;

$SIZE-TITLE: 1.6rem;
$SIZE-TEXT: 0.9rem;
$SIZE-TITLE-MOBILE: 1.4rem;
$SIZE-TEXT-MOBILE: 0.8rem;

$COLOR-BACKGROUND: #fff;
$COLOR-TEXT: #000;
$COLOR-ACCENT: #EC008C;

$COLOR-LINK: $COLOR-ACCENT;
$COLOR-LINK-HOVER: $COLOR-ACCENT;

$TRANSITION-PERIOD: 0.1s;

$ANIMATION-BALL-SIZE: 10px;
$ANIMATION-BALL-PERIOD: 2.75s;

$DESKTOP-WIDTH-MIN: 900px;

@mixin media-query($canvas) {
  @if $canvas == MOBILE {
    @media only screen and (max-width: $DESKTOP-WIDTH-MIN) { @content; }
  }
}
