{% include page-language.html %}

<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="embody-wrapper">
      {% include home-link.html %}
      <div class="artists-container">
        {% assign artists = site.data.embody | sort: "name" %}
        {% for a in artists %}
        <div class="artist">
          <div class="artist-name pink-style">{{ a.name }}</div>
          <div class="artist-content">
            <div class="artist-image" style="background-image: url({{ site.baseurl }}/{{ a. image }})"></div>
            <div class="artist-bio-wrapper">
              <div class="artist-bio">{{ a.bio[PAGE_LANGUAGE] }}</div>
              <a class="artist-link" href="{{ a.url }}" target="_blank">{{ a.url }}</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
