{% include page-language.html %}

<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="flood-wrapper">
      {% include home-link.html %}

      <div class="art-container">
        <div class="art">
          <div class="art-title">
            <div class="art-name pink-style">{{ page.title }}</div>
            <div class="artist-name"></div>
          </div>
          <div class="frame-showcase-container">
            <div class="frame-showcase flood-showcase">
              {% assign imgs = site.static_files |
                               where_exp:"file","file.path contains 'flood'" |
                               where_exp:"file","file.path contains 'flood_'" %}

              <div class="showcase-main-image-container">
                <div class="showcase-main-image flood-image" style="background-image: url({{ site.baseurl }}/{{ imgs[0].path }})"></div>
              </div>

              <div class="showcase-image-container">
                {% for i in imgs %}
                  {% unless forloop.first == true %}
                    <div class="showcase-image flood-image" style="background-image: url({{ site.baseurl }}/{{ i.path }})"></div>
                  {% endunless %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="my-flood-lightbox-overlay" class="flood-lightbox-overlay">
        <div id="my-flood-lightbox-container" class="flood-lightbox-container">
          <div id="my-flood-lightbox-image" class="flood-lightbox-image"></div>
        </div>
      </div>

    </div>
  </body>
  <script src="{{ site.baseurl }}/js/flood.js"></script>
</html>
