{% include page-language.html %}

<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="flood-wrapper">
      {% include home-link.html %}

      <div class="art-container">
        <div class="art">
          <div class="art-title">
            <div class="art-name pink-style">{{ page.title }}</div>
            <div class="artist-name"></div>
          </div>

          <div class="art-description">
            Nossa ausência presente em rede deixou sua pegada de carbono:<br>
            Foram  40h 13m 12s de encontros durante 4 meses:<br>
            144.793 segundos de videochamadas,<br>
            136.086 segundos de audios trocados,<br>
            121.467 segundos de câmeras ligadas.<br><br>

            Nessas trocas perdemos:<br>
            1.887 pacotes de áudios,<br>
            518 pacotes de vídeo.<br><br>

            Mas trocamos<br>
            3,45 GBytes de compartilhamento de tela,<br>
            7,48 GBytes de áudio,<br>
            555,94 GBytes de vídeo.<br><br>

            Criamos memórias em máquinas e descobrimos o tele-abraço. Porém, contribuimos com aproximadamente 35kwh de consumo para o efeito estufa. Isto equivale a 55.28 kg de CO2. O que corresponde a uma viagem de 60km de carro, o que não dá nem para fugir para a praia mais próxima de São Paulo.

<!--
            144.793 segundos de videochamadas<br>
            136.086 segundos de audios trocados<br>
            9.707 segundos de SILÊNCIO<br>
            121.467 segundos de cameras ligadas<br>
            23.326 segundos de cameras DESLIGADAS<br>
            1.887 pacotes de audios perdidos<br>
            518 pacotes de video perdidos<br>
            7,48 GBytes de audio<br>
            555,94 GBytes de video<br>
-->
          </div>
        </div>
      </div>

      <div id="my-flood-lightbox-overlay" class="flood-lightbox-overlay">
        <div id="my-flood-lightbox-container" class="flood-lightbox-container">
          <div id="my-flood-lightbox-image" class="flood-lightbox-image"></div>
        </div>
      </div>

    </div>
  </body>
</html>
