{% include page-language.html %}

<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="flood-wrapper">
      {% include home-link.html %}

      <div class="art-container">
        <div class="art">
          <div class="art-title">
            <div class="art-name pink-style">{{ page.title }}</div>
            <div class="artist-name"></div>
          </div>

          <div class="art-description">
            {{ site.data.flux[PAGE_LANGUAGE] }}
          </div>
        </div>
      </div>

      <div id="my-flood-lightbox-overlay" class="flood-lightbox-overlay">
        <div id="my-flood-lightbox-container" class="flood-lightbox-container">
          <div id="my-flood-lightbox-image" class="flood-lightbox-image"></div>
        </div>
      </div>

    </div>
  </body>
</html>
