{% include page-language.html %}

<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% assign byline = "by" %}
    {% assign cnotes = "curator's note in" %}
    {% assign minutes = "minutes" %}

    {% if PAGE_LANGUAGE == "pt" %}
      {% assign byline = "por" %}
      {% assign cnotes = "notas do curador em" %}
      {% assign minutes = "minutos" %}
    {% endif %}

    <div class="frame-wrapper">
      {% include home-link.html %}

      <div class="art-container">
        {% assign arts = site.data.frame.artists | sort: "artist" %}
        {% for a in arts %}
          <div class="art">
            <div class="art-title">
              {% if a.title.pt %}
                {% assign amedium = a.title[PAGE_LANGUAGE] | append: ' | ' | append: a.medium[PAGE_LANGUAGE] %}
                <div class="art-name pink-style">{{ a.title[PAGE_LANGUAGE] }}</div>
              {% else %}
                {% assign amedium = a.title | append: ' | ' | append: a.medium[PAGE_LANGUAGE] %}
                <div class="art-name pink-style">{{ a.title }}</div>
              {% endif %}
              <div class="artist-name">{{ byline }} {{ a.artist }}</div>
            </div>

            <div class="frame-showcase-container">
              {% assign mslug = site.data.fixed.frame.slug[a.slug] %}
              {% include frame/{{ mslug }}.html medium=amedium %}
            </div>

            <div class="art-description">
              {% if a.link %}
                <div class="art-link-container">
                  <a class="art-link" href="{{ a.link.url }}" target="_blank">{{ a.link.text[PAGE_LANGUAGE] }}</a>
                </div>
              {% endif %}
              {{ a.description[PAGE_LANGUAGE] }}
            </div>

            {% if a.note %}
              {% capture noteimage %}media/images/notes/{{ site.data.fixed.frame.slug[a.slug] }}.jpg{% endcapture %}
              <div class="curators-note-container">
                <div class="curators-note-image frame-lightbox-thumbnail" style="background-image: url({{ site.baseurl }}/{{ noteimage }})"></div>
                <div class="curators-note-title">{{ cnotes }} {{ a.note.minutes }} {{ minutes }}</div>
              </div>
            {% endif %}

          </div>
        {% endfor %}

        <div class="art">
          {% assign c = site.data.frame.curators[0] %}
          <div class="art-title">
            <div class="art-name pink-style">{{ c.title[PAGE_LANGUAGE] }}</div>
            <div class="artist-name">{{ byline }} {{ c.artist }}</div>
          </div>

          <div class="curator-quote-container">
            <div class="curator-quote-image"></div>
            <div class="curator-quote-credit">
               <a href="https://www.ft.com/content/19d90308-6858-11ea-a3c9-1fe6fedcca75" target="_blank">
                 Yuval Harari - https://www.ft.com/content/19d90308-6858-11ea-a3c9-1fe6fedcca75
              </a>
            </div>
            <div class="curator-quote-credit curator-quote-credit-mobile">
               <a href="https://www.ft.com/content/19d90308-6858-11ea-a3c9-1fe6fedcca75" target="_blank">
                 Yuval Harari
              </a>
            </div>
          </div>

          <div class="art-description">
            {{ c.description[PAGE_LANGUAGE][0] }}
          </div>

          <div class="frame-showcase-container">
            {% assign cmedium = c.title[PAGE_LANGUAGE] | append: ' | ' | append: c.medium[PAGE_LANGUAGE] %}
            {% assign mslug = site.data.fixed.frame.slug[c.slug] %}
            {% include frame/{{ mslug }}.html medium=cmedium %}
          </div>

        </div>
      </div>

      <div id="my-frame-lightbox-overlay" class="frame-lightbox-overlay">
        <div id="my-frame-lightbox-container" class="frame-lightbox-container">
          <div id="my-frame-lightbox-image" class="frame-lightbox-image"></div>
        </div>
      </div>
    </div>
  </body>
  <script src="{{ site.baseurl }}/js/swipebox.js"></script>
  <script src="{{ site.baseurl }}/js/frame.js"></script>
</html>
