{% include page-language.html %}

<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="home-wrapper">
      <div id="icosa" class="home-background"></div>
      <div class="home-foreground">
        <div class="home-subtitle">
          {{ page. subtitle }}
        </div>
        <div class="home-language-menu">
          <a href="{{ site.baseurl }}/pt/">PT</a> | <a href="{{ site.baseurl }}/en/">EN</a>
        </div>
      </div>  
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/p5@1.1.9/lib/p5.min.js"></script>
  <script src="{{ site.baseurl }}/js/icosahedron.js"></script>
</html>
