{% include page-language.html %}

<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="home-wrapper">
      <div id="icosa" class="home-background"></div>

      <div class="home-foreground">
        <div id="my-home-buttons" class="home-buttons"></div>
        <div class="home-subtitle">
          {{ site.data.home[PAGE_LANGUAGE]['subtitle'] }}
        </div>

        <div id="my-home-ball-menu" class="home-ball-menu">
          <div id="home-ball-0" class="home-ball"></div>
          <div id="home-ball-1" class="home-ball"></div>
        </div>

        <div class="home-language-menu">
          <a href="{{ site.baseurl }}{{ page.url | replace: 'en','pt' }}">PT</a> | 
          <a href="{{ site.baseurl }}{{ page.url | replace: 'pt','en' }}">EN</a>
          <div id="my-home-contact" class="home-contact">{{ site.data.home[PAGE_LANGUAGE].contact }}</div>
        </div>

        <div id="my-home-lightbox-overlay" class="home-lightbox-overlay">
          <div id="my-home-lightbox-container" class="home-lightbox-container">
            <div id="my-home-lightbox-title" class="home-lightbox-title"></div>
            <div id="my-home-lightbox-content" class="home-lightbox-content"></div>
          </div>
        </div>

        <div id="my-home-intro-overlay" class="home-lightbox-overlay home-intro-overlay">
          <div id="my-home-intro-container" class="home-intro-container">
            <div class="home-intro-text-container">
                <div class="home-intro-close-container"><div class="home-intro-close"></div></div>
                <div class="home-intro-text">{{ site.data.home[PAGE_LANGUAGE].intro }}</div>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/p5@1.1.9/lib/p5.min.js"></script>
  <script src="{{ site.baseurl }}/js/addScreenPositionFunction.js"></script>
  <script src="{{ site.baseurl }}/js/home.js"></script>
</html>
